@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


@font-face{
	font-family: dinprofont;
	src:url(./DIN_Pro_Font_Family/DIN-Pro-400.otf)
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: dinprofont!important;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
	padding: 0 ;
	margin: 0 auto;
}
.banner-slider-box{
	max-height: 500px;
}
.banner-slider-box img{
	width: 100%;
}
.heading_h1{
	text-transform: capitalize;
	font-weight: 600;
	font-size: 40px;
	width: 60%;
	cursor: pointer;
}
.heading_h2{
	margin-top: 80px;
	margin-bottom: 40px;
	font-size: 32px;
    text-transform: capitalize;
    font-weight: 600;
	
}
.htitle{
	text-transform: capitalize;
	font-style: italic;
	font-weight: 600;
	text-align: left;
	padding-left: 15px;
}
/* header */
.header-right-box .search-box input{
	width: 250px;
}
.header{
	padding: 15px 0px;
}
.header-right-box{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.search-box{
	background-color: #f6f6f6;
	padding: 5px 15px;
	border-radius: 4px;
}
.search-box input{
	border: none;
	outline: none;
	padding: 0 10px;
	background-color: transparent;
}
.search-box svg{
	color: #7d7775;
	font-size: 12px;
}
.search-box input::placeholder{
	text-transform: capitalize;
	font-size: 12px;
	font-weight: 700;
}
.header-icon{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-icon a{
	margin-left: 20px;
}
.header-icon a span svg{
	color: #babcbf;
	font-size: 25px;
}
.header-icon a .lang-box{
	background-color: #f6f6f6;
	color: #000;
	font-size: 10px;
	display: inline-block;
	padding: 5px 7px;
	font-weight: 700;
}
.header-icon a span img{
	width: 37px;
}
.header-left-box{
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.header-left-box .logo-box{
	display: flex;
	text-decoration: none;
	align-items: center;
}
.header-left-box a img{
	width: 30px;
}
.header-left-box a span{
	display: inline-block;
	 color: #7d7775;;
	margin-left: 5px;
	font-weight: 700;
}
/* header */
/* category */
.category{
	background-color: #f9f9f9;
}

.productlist .category .sub-box .sub-cat-item ,.product-detail .category .sub-box .sub-cat-item{
		display: flex;
		align-items: center;
		justify-content:flex-start;
		margin-bottom: 0;
		padding: 5px 0px;
}
.home .category .sub-box .sub-cat-item{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 0px;
}
.category .sub-box .sub-cat-item li a{
	text-transform: capitalize;
	display: block;
	padding: 15px 25px;
	color: #000;
	font-weight: 700;
	text-decoration: none;
}
.category .sub-box .sub-cat-item li a:hover{
	background-color:#fcc845;
}
.category .sub-box .sub-cat-item ul{
	display: none;
}
.sub-cat-item li{
	position: relative;
}
.sub-cat-item li ul{
	width: 200px;
	padding: 20px;
	background-color: #fff;
}
.sub-cat-item li ul li{
	width: 100%;
	text-align: left;
}
.sub-cat-item li ul li a{
	font-size: 12px!important;
	padding: 10px 10px!important;
}
/* category */

.arrive-title{
	margin-top: 40px;
}


/* product box css */
.product-box{
	margin-bottom: 40px;
}
 .product-box .product-upbox{
	position: relative;
	
}
 .product-box .product-upbox .heart-box{
	position: absolute;
	padding: 7px;
	border-radius: 50%;
	top: calc(0% + 15px);
    right: calc(0% + 15px);
}
.product-box .product-upbox .heart-box-in span svg{
	color: #d73a25!important;
}
.product-box .product-upbox a span svg{
	font-size: 24px;
	color: #fff;
}
 .product-box .product-upbox img{
	width: 100%;
	height: 100%;
	cursor: pointer;

}
.product-box .product-downbox .inner-downbox{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0px;
}
.product-box .product-downbox .inner-downbox .heading_h3{
	color: #000;
	text-transform: capitalize;
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 0px;
}
.inner-downbox-icon{
	position: relative;
}
.inner-downbox-icon svg{
	font-size: 12px;
	color: #000;
	
}
.inner-downbox-icon span{
	display: inline-block;
    padding: 6px 8px;
	border-radius: 50%;
	
}
.nav-bar-content{
	background-color: #fcc845;
}
.inner-downbox-icon .add-sign{
	background-color: #fcc845;
	border: 1px solid #fcc845;
	cursor: pointer;
	width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-downbox-icon .minus{
	border: 1px solid #000;
	padding: 1px 7px;
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	z-index: -1;
}
.product-box .product-downbox p{
	text-align: left;
	font-style: italic;
	color: #000;
	font-size: 20px;
}
.inner-arrival{
	margin-bottom: 80px;
}
.title h5 span:nth-child(1){
	font-size: 20px;
    transform: translate(2px, -5px);
}
/* footer */
.footer{
	background-color: #141414;
}
.footer .inner-footer{
	padding: 60px 0px;
}
.right-inner-footer ul li{
	text-align: left;
	margin-bottom: 10px;
}
.right-inner-footer ul li a{
	color: #fff;
	font-size: 13px;
	font-weight: 600;
}
.inner-footer-icon{
	padding: 0 20px;
}
.footer-icon {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right:  45px;
	
}
.footer-icon a svg{
	font-size: 25px;
	color: #fff;
}
.inner-footer-icon p{
	margin: 20px 0px;
	text-align: left;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	text-transform: capitalize;

}
.left-footer{
	text-align: left;
}
.left-footer .logo{
	color: #fff;
	font-size: 24px;
	display: inline-block;
	margin-bottom: 10px;
	font-weight: 600;
}
.left-footer p{
	color: #fff;
	font-size: 12px;
	margin-bottom: 5px;

}
.left-footer .mail{
	color: #fff;
	font-size: 12px;
}
.text-right{
	font-size: 12px;
}
.right-inner-footer{
	padding-left: 50px;
}
/* footer */




/* product details */

.inner-similar-title{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 15px;
}
.similar-product{
	margin-bottom: 80px;
}
.similar-product .show-btn{
	text-transform: capitalize;
	font-weight: 600;
	color: #fcc845;
	margin-top: 48px;
	text-decoration: none;
}
.heartcolor{
	color: #000!important;
	border: 2px solid #000!important;

}
.product-content .select-color-boxes a:nth-child(1){
	background-color: #7d7775;
}
.product-content .select-color-boxes a:nth-child(2){
	background-color: #fff;

}
.product-content .select-color-boxes a:nth-child(3){
	background-color: #000;
}


.product-content{
	text-align: left;
}
.product-content .brand{
	text-transform: capitalize;
	font-style: italic;
	color: #7d7775;
	font-size: 24px;
	margin: 20px 0px;
	font-weight: 400;
	
}
.product-price{
	color: #000;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	font-style: italic;
	font-size: 24px;
	margin: 30px 0px;
	cursor: pointer;
}
.product-price span:nth-child(1){
	margin-left: 5px;
}
.product-price span:nth-child(2){
	color: #7d7775;
	font-weight: 300;
	font-size: 20px;
	margin: 0 10px;
}
.product-price span:nth-child(3){
	color: #fcc845;
	font-size: 16px;
}
.color-title{
	color: #7d7775;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 11px;
	display: inline-block;
	margin-bottom: 10px;

}
.proslider div div div{
	z-index: 99!important;
	width: 635px!important;
	top: 0px!important;
	left: 450px!important;
	min-height: 562px!important;
}
.MuiFormControl-root {
	margin: 0px!important;
}
.select-color-box{
	margin-bottom: 15px;
}
.select-color-box a{
	display: inline-block;
	height: 40px;
	width: 40px;
	padding: 7px;
	text-decoration: none!important;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	color: #7d7775;
	border:1px solid #7d7775;
	border-radius: 50%;
	margin-right: 20px;
}
.pro-detail{
	font-size: 14px;
	width: 65%;
	cursor: pointer;
	margin-bottom: 30px;
}
.btn-box{
	display: flex;
	align-items: center;
	
}
.MuiInputLabel-outlined.MuiInputLabel-shrink{
	opacity: 0;
	background-color: #fff;
}
.btn-box div a{
	display: inline-flex;
	background-color: #f9f9f9;
	padding: 5px;
	border-radius: 3px;
	margin-right: 10px;
}
.btn-box div a svg{
	color: #babcbf;
	font-size: 40px;
	
}
.btn-box a{
	background-color: #fcc845;
	color: #000;
	font-weight: 600;
	margin-right: 20px;
	text-decoration: none!important;
	padding: 13px 40px;
	text-transform: capitalize;
}
/* .proslider{
	min-height: 562px;
} */
.proslider img{
	width: 100%;
	min-height: 562px;
	
}
.slider-box{
	margin: 40px 0px 80px 0px;
}
.slider-content .slick-slider .slick-arrow::before{
	font-size: 24px;
	background-color: #babcbf;
	border-radius: 50%;
	color: #fff;
}
.slider-content .slick-slider .slick-prev{
	left: 20px;
	z-index: 1;
}
/* .slider-content .slick-slider .slick-prev::before{
	

	
} */
.slider-content .slick-slider .slick-next{
	right: 20px;
}
.slider-content .slick-slider  .slick-dots{
	text-align: left;
	bottom: -90px!important;
}
.slider-content .slick-slider  .slick-dots li{
	width: 60px;
	height: 80px;
	margin: 5px;
}
.slider-content .slick-slider  .slick-dots li button{
	width: 60px;
	height: 80px;
	padding: 0px;
}
.slider-content .slick-slider  .slick-dots li button::before{
	opacity: 1;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}
.slider-content .slick-slider  .slick-dots li:nth-child(1) button::before{
	background-image: url("./../../components/images/versace-blue/front-500.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	content: "";
}
.slider-content .slick-slider  .slick-dots li:nth-child(2) button::before{
	background-image: url("./../../components/images/versace-blue/back-500.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	content: "";
}
.slider-content .slick-slider  .slick-dots li:nth-child(3) button::before{
	background-image: url("./../images/proslider.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	content: "";
}
.slider-content .slick-slider  .slick-dots li:nth-child(4) button::before{
	background-image: url("./../images/proslider4.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	content: "";
}
.banner-slider .slick-slider .slick-arrow{
	display: none!important;
}
.category .sub-box .sub-cat-item li:nth-child(1){
	position: relative;
}
.category .sub-box .sub-cat-item li:nth-child(1):hover ul,
.category .sub-box .sub-cat-item li:nth-child(2):hover ul,
.category .sub-box .sub-cat-item li:nth-child(3):hover ul,
.category .sub-box .sub-cat-item li:nth-child(4):hover ul,
.category .sub-box .sub-cat-item li:nth-child(5):hover ul,
.category .sub-box .sub-cat-item li:nth-child(6):hover ul,
.category .sub-box .sub-cat-item li:nth-child(7):hover ul{
	opacity: 1;
	z-index: 2;

}
.category .sub-box .sub-cat-item li:nth-child(1) ul{
	position: absolute;
	width: 200px;
	background-color: #fff;
	padding: 5px;
	display: block;
	opacity: 0;
	box-shadow: 0 5px 10px -6px #000;
	z-index: -1;
	top: calc(0% + 51px);
	left: calc(0%);
	transition: 0.5s;

}
.sub-box .sub-cat-item li:nth-child(2){
	position: relative;
}
.category .sub-box .sub-cat-item li:nth-child(2) ul{
	position: absolute;
	width: 200px;
	background-color: #fff;
	padding: 5px;
	display: block;
	box-shadow: 0 5px 10px -6px #000;
	opacity: 0;
	z-index: -1;
	top: calc(0% + 51px);
	left: calc(0%);

}
.sub-box .sub-cat-item li:nth-child(3){
	position: relative;
}
.category .sub-box .sub-cat-item li:nth-child(3) ul{
	position: absolute;
	width: 200px;
	background-color: #fff;
	padding: 5px;
	display: block;
	box-shadow: 0 5px 10px -6px #000;
	opacity: 0;
	z-index: -1;
	top: calc(0% + 51px);
	left: calc(0%);

}
.sub-box .sub-cat-item li:nth-child(4){
	position: relative;
}
.category .sub-box .sub-cat-item li:nth-child(4) ul{
	position: absolute;
	width: 200px;
	background-color: #fff;
	padding: 5px;
	display: block;
	box-shadow: 0 5px 10px -6px #000;
	opacity: 0;
	z-index: -1;
	top: calc(0% + 51px);
	left: calc(0%);

}
.sub-box .sub-cat-item li:nth-child(5){
	position: relative;
}
.category .sub-box .sub-cat-item li:nth-child(5) ul{
	position: absolute;
	width: 200px;
	background-color: #fff;
	padding: 5px;
	display: block;
	box-shadow: 0 5px 10px -6px #000;
	opacity: 0;
	z-index: -1;
	top: calc(0% + 51px);
	left: calc(0%);

}
.sub-box .sub-cat-item li:nth-child(6){
	position: relative;
}
.category .sub-box .sub-cat-item li:nth-child(6) ul{
	position: absolute;
	width: 200px;
	background-color: #fff;
	padding: 5px;
	display: block;
	opacity: 0;
	z-index: -1;
	top: calc(0% + 51px);
	box-shadow: 0 5px 10px -6px #000;
	left: calc(0%);

}
.sub-box .sub-cat-item li:nth-child(7){
	position: relative;
}
.category .sub-box .sub-cat-item li:nth-child(7) ul{
	position: absolute;
	width: 200px;
	background-color: #fff;
	padding: 5px;
	display: block;
	opacity: 0;
	z-index: -1;
	box-shadow: 0 5px 10px -6px #000;
	top: calc(0% + 51px);
	left: calc(0%);

}
.productlist .category .sub-box .sub-cat-item{
	justify-content: flex-start;
}
.title .htitle1{
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: left;
	font-size: 36px;
	text-transform: capitalize;
}
.title h5{
	margin-top: 30px;
	text-align: left;
	font-size: 12px;
	font-style: italic;
	display: flex;
	align-items: center;
	
}
.title h5 span{
	font-size: 12spx;
	font-weight: 600;
	display: inline-block;
	margin: 0 3px;
	text-transform: capitalize;
	
}

.menu-icon{
	display: none;
}
.menu-icon span svg{
	font-size: 24px;
}
.inner-select-box{
	width: 250px;
}

/* netlify css */

.header-left-box{
	display: flex;
	align-items: center;
}
.header-icon{
	display: flex;
	align-items: center;
}
.page-not-found{
	position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;	
}
.page-not-found h2{
	color: red;
	text-transform: capitalize;
	font-size: 40px;
	font-weight: 500;
}
#portal{
	position: fixed;
	top: 0px;
	right: 0px;
	height: 630px!important;
	transform: scaleX(0.65)!important;
	overflow: hidden;
	z-index: -99;
  }
.magnify-img{
	z-index: 2!important;
}
.overchange{
	height: 140vh;
	overflow: hidden;
}
.slider-box .title{
	margin-bottom: 20px;
}
.active{
	background-color: #fcc845!important;
}
.container nav{
	margin: 40px 0px 20px 0px;
}
.MuiBreadcrumbs-ol{
	display: flex!important;
	align-items: center!important;
}
.MuiBreadcrumbs-ol .MuiBreadcrumbs-li a{
	text-decoration: none;
	color: #000;
	text-transform: capitalize;
	font-size: 12px;
}
.MuiBreadcrumbs-ol li:nth-child(even) {
	background-color: #000;
	height: 4px;
	width: 4px;
	border-radius: 50%;
	font-size: 0px;
}
.MuiBreadcrumbs-ol li a{
	font-family: dinprofont;
}
.MuiBreadcrumbs-ol li:last-child a{
	font-weight: 600;
}
.product-box .product-upbox a img{
	max-width: 100%;
	object-fit: cover;
	min-height: 350px;
	max-height: 100%;
}
/* cart page css */


/* cart page css */
/* media query */
@media only screen and (max-width:1200px){
	.header-right-box .search-box input{
		width: 200px;
	}
	#portal{
		height: 450px!important;
		width: 510px!important;
	  }

}
@media only screen and (max-width:992px){
	.header-right-box .search-box input{
		width: 130px;
	}
	#portal{
		height: 720px!important;
		width: 305px!important;
	  }
	.slick-track img{
		min-height: 720px!important;
	}
	.header-icon a{
		margin-left: 10px;
	}
	.category .sub-box .sub-cat-item li a{
		padding: 10px 15px;
	}
	.product-detail .category .sub-box .sub-cat-item{
		justify-content: flex-start;
	}
	.category .sub-box .sub-cat-item li:nth-child(1) ul,
		.category .sub-box .sub-cat-item li:nth-child(2) ul,
		.category .sub-box .sub-cat-item li:nth-child(3) ul,
		.category .sub-box .sub-cat-item li:nth-child(4) ul,
		.category .sub-box .sub-cat-item li:nth-child(5) ul,
		.category .sub-box .sub-cat-item li:nth-child(6) ul,
		.category .sub-box .sub-cat-item li:nth-child(7) ul{
			display: none;
		}
		#pro-box1 ,#pro-box2{
			max-width: 50%;
		}
		.btn-box a{
			padding: 13px 30px;
		}
		.slider-content .slick-slider .slick-dots{
			display: none;
			/* display: flex!important;
			align-items: center!important;
			justify-content: space-between!important; */
		}
		
		
}
@media only screen and (max-width:767px){
		.menu-icon{
			display: block;
		}
		.slick-track img{
			min-height: unset!important;
		}
		#root .category{
			position: absolute;
			top: 0px;
			left: -60%;
			width: 60%;
			height: 100vh;
			transition: 0.5s;
			z-index: 2;
		}
		#root  .menu-content{
			left: 0!important;
		}
		#root .category .sub-box {
			padding: 20px 0px;
		}
		#root .category .sub-box .sub-cat-item{
			display: unset;
			
		}
		#root .category .sub-box .sub-cat-item li:hover{
			background-color: #fcc845;
		}
		#pro-box1 ,#pro-box2{
			max-width: 100%;
		}
		#pro-box2{
			margin-top: 100px;
		}
		.slider-box{
			margin: 40px 0px;
		}
		.heading_h1{
			width: 100%;
		}
		
		.inner-footer{
			padding: 0 20px;
		}
		.header-right-box{
			display: none;
		}
		.product-upbox a img{
			height: 270px!important;
		}
		.heading_h2{
			margin-top: 25px;
		}
		.inner-footer-icon{
			margin: 30px 0px;
			padding: 0px;
		}
		.inner-arrival{
			margin-bottom: 40px;
		}
		.right-inner-footer{
			padding-left: 0px;
		}
		.footer .inner-footer{
			padding: 40px 20px;
		}

		
}